In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("hotel_booking_data.csv")
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,Transient,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,Transient,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,Transient,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498

In [3]:
# 1.What are the top 5 most common country codes in the dataset?
def ccode(x):
    t=x.split('-')
    return t[0]

In [4]:
df['country-code']= df['phone-number'].apply(ccode)

In [5]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,country-code
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,669
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,858
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,652
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,364
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,713

In [6]:
df['country-code'].value_counts().head()

799    168
185    167
541    166
739    163
763    163
Name: country-code, dtype: int64

In [7]:
# 2.What is the name of the person who paid the highest ADR (average daily rate)? How much was their ADR?
df.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date', 'name', 'email',
       'phone-number', 'credit_card', 'country-code'],
      dtype='object')

In [8]:
df[['name','adr']].loc[df['adr'].value_counts().max()]

name    Alicia Williams
adr                  72
Name: 3754, dtype: object

In [9]:
# 3.What is the average (mean) number of nights for a stay across the entire data set?
((df['stays_in_weekend_nights'].mean()) + (df['stays_in_week_nights'].mean()))/2

1.7139500795711533

In [10]:
# 4.What is the average total cost for a stay in the dataset?
df['adr'].mean()

101.83112153446453

In [11]:
# 5.What are the names and emails of people who made 5 "Special Requests"?
df[['name','email']].loc[df['total_of_special_requests']==5]

                          name                          email
7860             Amanda Harper           Amanda.H66@yahoo.com
11125            Laura Sanders      Sanders_Laura@hotmail.com
14596              Tommy Ortiz            Tommy_O@hotmail.com
14921           Gilbert Miller         Miller.Gilbert@aol.com
14922           Timothy Torres         TTorres@protonmail.com
24630          Jennifer Weaver             Jennifer_W@aol.com
27288           Crystal Horton             Crystal.H@mail.com
27477           Brittney Burke       Burke_Brittney16@att.com
29906          Cynthia Cabrera    Cabrera.Cynthia@xfinity.com
29949              Sarah Floyd              Sarah_F@gmail.com
32267           Michelle Villa         Michelle.Villa@aol.com
39027           Nichole Hebert       Hebert.Nichole@gmail.com
39129         Lindsey Mckenzie       Lindsey.Mckenzie@att.com
39525           Ashley Edwards       Edwards.Ashley@yahoo.com
70114       Christopher Torres   Torres.Christopher@gmail.com
78819   Mrs. Tara Sullivan DVM           Mrs..DVM@xfinity.com
78820           Michaela Brown          MichaelaBrown@att.com
78822        Kurt Maldonado MD              KMD15@xfinity.com
97072         Jason Richardson               Jason.R@zoho.com
97099             Terri Hurley            THurley@xfinity.com
97261        Mrs. Caitlin Webb             Mrs._W@comcast.net
98410             Holly Arroyo          Arroyo_Holly@mail.com
98674          Denise Campbell             Denise_C@gmail.com
99887            Michael Smith            Michael.S42@aol.com
99888       Dr. Trevor Sellers                  Dr._S@aol.com
101569            Kayla Murphy         Kayla.Murphy@yahoo.com
102061         Taylor Martinez    Taylor.Martinez@hotmail.com
109511          Charles Wilson       Charles_Wilson@yahoo.com
109590           Tyler Allison         Tyler.A@protonmail.com
110082          Matthew Bailey         Matthew_Bailey@aol.com
110083       Charlotte Acevedo        Charlotte_A@verizon.com
111909         Darrell Brennan  Brennan_Darrell51@hotmail.com
111911          Melinda Jensen         MelindaJensen@zoho.com
113915            Terry Arnold          Arnold.Terry@zoho.com
114770             Mary Nguyen     Nguyen.Mary@protonmail.com
114909          Lindsay Cuevas      Lindsay.Cuevas40@mail.com
116455       Cynthia Hernandez   CynthiaHernandez@xfinity.com
116457          Angela Hawkins             Angela_H@gmail.com
118817              Sue Lawson            Sue.L52@comcast.net
119161         Alyssa Richards        Alyssa_Richards@aol.com

In [12]:
# 6.What percentage of hotel stays were classified as "repeat guests"?
df['is_repeated_guest'].value_counts()

0    115580
1      3810
Name: is_repeated_guest, dtype: int64

In [13]:
len(df.loc[df['is_repeated_guest']==1])/len(df)*100

3.191222045397437

In [14]:
# 3.19% hotel stays were classified as "repeat guests"

In [15]:
import string
a = string.ascii_uppercase
a

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [16]:
# 7.What are the top 5 most common last name in the dataset?
l=[]
for i in df['name']:
    for j in range(1,len(i)):
        if i[j] in a:
            b=i.split()
            l.append(b[-1])

In [17]:
l

['Barnes',
 'Baker',
 'Parker',
 'Murray',
 'Hines',
 'Fletcher',
 'Rangel',
 'Velez',
 'Murphy',
 'Moore',
 'PhD',
 'PhD',
 'PhD',
 'Smith',
 'Thomas',
 'Friedman',
 'Torres',
 'Zavala',
 'Martin',
 'Martin',
 'Lee',
 'Rodriguez',
 'Schmidt',
 'Matthews',
 'Chung',
 'Garcia',
 'Taylor',
 'Sanchez',
 'King',
 'Davidson',
 'Flynn',
 'Williams',
 'Williams',
 'Hart',
 'Wilson',
 'Williams',
 'Cunningham',
 'Sims',
 'Brown',
 'Holden',
 'Smith',
 'Barton',
 'Holt',
 'Green',
 'Perez',
 'Armstrong',
 'Hammond',
 'Fuller',
 'Davis',
 'Mccormick',
 'Sullivan',
 'Wallace',
 'Ferguson',
 'Hardin',
 'Ho',
 'Joseph',
 'Brown',
 'Ward',
 'Bailey',
 'Cole',
 'Russo',
 'Sanchez',
 'Rose',
 'Smith',
 'Bullock',
 'Mccormick',
 'Cole',
 'Aguilar',
 'Graham',
 'Cabrera',
 'Flores',
 'Whitehead',
 'Hamilton',
 'Bradford',
 'Robinson',
 'Curry',
 'Maldonado',
 'Perez',
 'Horn',
 'Williams',
 'MD',
 'MD',
 'MD',
 'Hoffman',
 'Yu',
 'Moss',
 'Olson',
 'Cowan',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Young',
 'Schroeder',
 'Roberts',
 'Williams',
 'Murphy',
 'Delacruz',
 'Murphy',
 'Hebert',
 'Campbell',
 'Lang',
 'Mcgee',
 'Key',
 'Campbell',
 'Hill',
 'Richard',
 'Porter',
 'Wilson',
 'Alvarez',
 'Bowers',
 'Morales',
 'Wilson',
 'Mitchell',
 'Bailey',
 'Weaver',
 'Gordon',
 'Acosta',
 'Smith',
 'Brooks',
 'Rojas',
 'Rivera',
 'Watson',
 'Yu',
 'Campbell',
 'Norton',
 'Lewis',
 'Adkins',
 'Rodgers',
 'MD',
 'MD',
 'MD',
 'Cox',
 'Anderson',
 'Nelson',
 'Bennett',
 'Campos',
 'Kennedy',
 'Phillips',
 'Velasquez',
 'Wolf',
 'Jones',
 'Porter',
 'Bass',
 'Chavez',
 'Jones',
 'Gallegos',
 'Gallegos',
 'Allen',
 'Anderson',
 'Foster',
 'Fisher',
 'Wilson',
 'Graham',
 'Lee',
 'Pugh',
 'Kent',
 'Hall',
 'Bailey',
 'West',
 'Curry',
 'Chan',
 'Serrano',
 'Anderson',
 'Adams',
 'Mclaughlin',
 'Fox',
 'Gutierrez',
 'Bass',
 'Wilson',
 'Pennington',
 'Mendez',
 'Price',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Terry',
 'Barnett',
 'Day',
 'Anderson',
 'Morgan',
 'Simmons',
 'Reyes',
 'Hebert',
 'Cunningham',
 'Rodriguez',
 'Arias',
 'Barr',
 'Webb',
 'Garcia',
 'Mcgee',
 'Perez',
 'Rogers',
 'Daniels',
 'Wilson',
 'Adams',
 'Mckinney',
 'Washington',
 'Schultz',
 'Wright',
 'Howard',
 'Clark',
 'Carter',
 'Robinson',
 'Wong',
 'Torres',
 'Delgado',
 'Frazier',
 'Herman',
 'Bowers',
 'Howard',
 'Harrington',
 'Hendrix',
 'Tate',
 'Jr.',
 'Jr.',
 'Jones',
 'Cobb',
 'Kim',
 'Gilbert',
 'Adams',
 'Grant',
 'Blankenship',
 'Wolfe',
 'Lopez',
 'Baker',
 'Malone',
 'Wilson',
 'Peterson',
 'Greene',
 'Marshall',
 'Wagner',
 'Rivas',
 'Myers',
 'Patrick',
 'Mcknight',
 'Wagner',
 'Payne',
 'Stewart',
 'Wright',
 'Wright',
 'Duncan',
 'Kelly',
 'Young',
 'Smith',
 'Oliver',
 'Cunningham',
 'Lucero',
 'Mccoy',
 'Lee',
 'Dunn',
 'Nichols',
 'Gonzalez',
 'Castillo',
 'Harris',
 'Williams',
 'Dickson',
 'Ford',
 'Giles',
 'Escobar',
 'Johnson',
 'MD',
 'MD',
 'MD',
 'Martin',
 'Vargas',
 'Johnson',
 'Wu',
 'Johnson',
 'Smith',
 'Montgomery',
 'Sullivan',
 'Miller',
 'Murphy',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Khan',
 'Sullivan',
 'Mccarty',
 'Herman',
 'Ponce',
 'Frost',
 'Meadows',
 'Wood',
 'Green',
 'Brown',
 'Gibson',
 'Daniel',
 'Beck',
 'Salazar',
 'Davis',
 'Ferguson',
 'Burch',
 'Singh',
 'Hill',
 'Parrish',
 'Riggs',
 'Riggs',
 'Smith',
 'Dickerson',
 'Olson',
 'Smith',
 'Johnson',
 'Schultz',
 'Atkins',
 'Banks',
 'Vasquez',
 'Cline',
 'Oconnor',
 'Johnson',
 'Jacobs',
 'Kelly',
 'Hawkins',
 'Allen',
 'Day',
 'Morgan',
 'Williams',
 'Martinez',
 'Martinez',
 'Bentley',
 'Day',
 'MD',
 'MD',
 'MD',
 'Stein',
 'Reed',
 'Andrews',
 'Woods',
 'Davis',
 'Blankenship',
 'Jimenez',
 'Taylor',
 'Higgins',
 'Love',
 'Salinas',
 'Allen',
 'Daniels',
 'Mendoza',
 'Snyder',
 'Watkins',
 'Pierce',
 'Green',
 'Gordon',
 'Blackwell',
 'Evans',
 'Adkins',
 'Brown',
 'Pittman',
 'DVM',
 'DVM',
 'DVM',
 'DVM',
 'DVM',
 'Dillon',
 'White',
 'Ramirez',
 'Adams',
 'Hamilton',
 'Alvarez',
 'Petersen',
 'Nguyen',
 'Carter',
 'Donovan',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Miller',
 'Taylor',
 'Phillips',
 'Gilbert',
 'Henry',
 'Weber',
 'Sullivan',
 'Richards',
 'Riley',
 'Villegas',
 'Moody',
 'Boyle',
 'Dyer',
 'Brown',
 'West',
 'Serrano',
 'Palmer',
 'Randolph',
 'Wilcox',
 'Brown',
 'Powell',
 'Murray',
 'Villegas',
 'Marshall',
 'Allen',
 'Brooks',
 'Jackson',
 'Moore',
 'Campbell',
 'Trevino',
 'Johnson',
 'Johnson',
 'Todd',
 'Cabrera',
 'Jr.',
 'Jr.',
 'Smith',
 'Mejia',
 'Salas',
 'Malone',
 'Luna',
 'Leonard',
 'Adams',
 'Hayes',
 'Chang',
 'Schmidt',
 'Richard',
 'Gibbs',
 'Deleon',
 'Cook',
 'French',
 'Williams',
 'Gomez',
 'Tucker',
 'Humphrey',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Johnson',
 'Nguyen',
 'Bowen',
 'MD',
 'MD',
 'MD',
 'Cain',
 'Norman',
 'Anderson',
 'Holder',
 'Jones',
 'DVM',
 'DVM',
 'DVM',
 'DVM',
 'Rodriguez',
 'Horne',
 'Horne',
 'Perez',
 'MD',
 'MD',
 'MD',
 'Cobb',
 'Chang',
 'King',
 'Holmes',
 'MD',
 'MD',
 'MD',
 'Lara',
 'Robles',
 'Martin',
 'Cooper',
 'Dodson',
 'Winters',
 'Mendoza',
 'King',
 'Dean',
 'Young',
 'Smith',
 'Franklin',
 'Duncan',
 'Orr',
 'Rogers',
 'Smith',
 'Zhang',
 'Zhang',
 'Wood',
 'Underwood',
 'Rich',
 'Jones',
 'Blair',
 'Mccoy',
 'Orozco',
 'Gonzalez',
 'Peterson',
 'Jenkins',
 'Koch',
 'Collins',
 'Delgado',
 'Kelley',
 'Decker',
 'Lewis',
 'Randall',
 'Hill',
 'Kelley',
 'Griffin',
 'Mann',
 'Snyder',
 'Burns',
 'Chang',
 'Williams',
 'Berry',
 'Pearson',
 'Hernandez',
 'Carpenter',
 'Compton',
 'Wilson',
 'Andrews',
 'Trujillo',
 'Bryant',
 'Smith',
 'Robinson',
 'Robles',
 'Reyes',
 'Fleming',
 'Morales',
 'Norman',
 'Burch',
 'Carter',
 'Small',
 'George',
 'Moore',
 'Jones',
 'MD',
 'MD',
 'MD',
 'MD',
 'Willis',
 'Arnold',
 'Martin',
 'Ross',
 'Davis',
 'Roy',
 'Evans',
 'Graves',
 'Gray',
 'Oliver',
 'Brady',
 'Anderson',
 'Thornton',
 'Edwards',
 'Brewer',
 'Hart',
 'Carter',
 'Anderson',
 'Blevins',
 'Smith',
 'Crosby',
 'Lee',
 'Evans',
 'Brown',
 'Cooper',
 'Bush',
 'Kidd',
 'Hernandez',
 'Conner',
 'Smith',
 'Mathews',
 'Ramirez',
 'Cooper',
 'Sullivan',
 'Myers',
 'Wallace',
 'MD',
 'MD',
 'MD',
 'Vaughn',
 'Hernandez',
 'Price',
 'Ruiz',
 'Johnson',
 'Brandt',
 'Ali',
 'Dean',
 'Wright',
 'Hernandez',
 'Shepherd',
 'Burton',
 'Rollins',
 'Franklin',
 'Cooke',
 'Thompson',
 'Harrington',
 'Smith',
 'Davis',
 'Ortiz',
 'Ortiz',
 'Martin',
 'Delacruz',
 'Edwards',
 'Olson',
 'Newman',
 'Benson',
 'Kent',
 'Butler',
 'Alvarez',
 'Robinson',
 'Wade',
 'MD',
 'MD',
 'MD',
 'MD',
 'Johnson',
 'Reese',
 'Owens',
 'Wolfe',
 'Lynch',
 'Lee',
 'Kemp',
 'Nelson',
 'Mayo',
 'Berry',
 'Powell',
 'Morgan',
 'Roberts',
 'Underwood',
 'Lang',
 'Fisher',
 'Ferguson',
 'Riddle',
 'Nunez',
 'Wood',
 'Vaughn',
 'Trevino',
 'Trevino',
 'Craig',
 'Bailey',
 'Holmes',
 'Morris',
 'Jackson',
 'Gibson',
 'King',
 'Trevino',
 'Hurst',
 'Ross',
 'Smith',
 'Johnson',
 'Martin',
 'Powell',
 'King',
 'Mccarthy',
 'Chen',
 'Mitchell',
 'Anderson',
 'Spencer',
 'Montgomery',
 'Roberson',
 'Calderon',
 'Brooks',
 'Moreno',
 'Pope',
 'Garcia',
 'King',
 'Jones',
 'Gross',
 'Kelly',
 'Sanchez',
 'Gonzalez',
 'Hayes',
 'Ibarra',
 'Fowler',
 'Hutchinson',
 'Harvey',
 'Tucker',
 'Ward',
 'Stanley',
 'Johns',
 'Chan',
 'Frank',
 'Medina',
 'Lamb',
 'Rice',
 'Young',
 'Walters',
 'Garcia',
 'Perry',
 'Ingram',
 'Thomas',
 'Webster',
 'Brennan',
 'Walker',
 'Nguyen',
 'Davis',
 'Castro',
 'Moses',
 'Cherry',
 'Jarvis',
 'Sweeney',
 'Koch',
 'Gonzales',
 'Ferguson',
 'Mclean',
 'Williams',
 'Johnson',
 'Cooper',
 'Brown',
 'Lawson',
 'Khan',
 'Kim',
 'Green',
 'Weiss',
 'Johnson',
 'Yates',
 'Harmon',
 'Durham',
 'Gordon',
 'Jones',
 'Keith',
 'Keith',
 'Willis',
 'Baker',
 'Herman',
 'Boyer',
 'Mueller',
 'Underwood',
 'Hubbard',
 'Thompson',
 'Young',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Miller',
 'Oconnor',
 'Fowler',
 'Hill',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Richmond',
 'Hunt',
 'Brennan',
 'Scott',
 'Evans',
 'Delgado',
 'Guzman',
 'Cardenas',
 'Berger',
 'Turner',
 'Baker',
 'Obrien',
 'Davis',
 'King',
 'Sanchez',
 'Bryant',
 'Bernard',
 'Alvarado',
 'Dudley',
 'Hood',
 'Parker',
 'Lynch',
 'Clark',
 'Murphy',
 'Sheppard',
 'Barr',
 'Trevino',
 'Garcia',
 'Marshall',
 'Porter',
 'Williams',
 'Graham',
 'Guerrero',
 'Dougherty',
 'Martinez',
 'Murphy',
 'Brock',
 'MD',
 'MD',
 'MD',
 'MD',
 'Fernandez',
 'Palmer',
 'Arroyo',
 'Davis',
 'Johnson',
 'Ward',
 'Allen',
 'Williams',
 'Martin',
 'Salas',
 'Little',
 'Chen',
 'Jordan',
 'Reyes',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Alexander',
 'Lane',
 'Johnson',
 'Chung',
 'Harmon',
 'Dean',
 'Bradley',
 'Lewis',
 'Bass',
 'Wood',
 'Summers',
 'Warren',
 'Elliott',
 'Wilson',
 'Hoffman',
 'Harris',
 'Allen',
 'Baker',
 'Williams',
 'Weber',
 'Williams',
 'MD',
 'MD',
 'MD',
 'MD',
 'Randall',
 'Smith',
 'Nichols',
 'Preston',
 'Rodriguez',
 'Garcia',
 'Morgan',
 'Blevins',
 'Davidson',
 'Davidson',
 'Christensen',
 'Salazar',
 'Rodriguez',
 'Sanders',
 'Long',
 'Dixon',
 'Wood',
 'Hernandez',
 'Singleton',
 'Brewer',
 'Phillips',
 'Olson',
 'Jefferson',
 'Richardson',
 'Torres',
 'Taylor',
 'Dominguez',
 'Dominguez',
 'Allison',
 'DDS',
 'DDS',
 'DDS',
 'DDS',
 'Ferguson',
 'Farley',
 'Montgomery',
 'Mills',
 'Aguilar',
 'Ray',
 'Hall',
 'Craig',
 'Mclaughlin',
 'Burch',
 'Powers',
 'Jones',
 'Harris',
 'Jones',
 'Suarez',
 'Sparks',
 'Gomez',
 'Rowe',
 'Harper',
 'Burke',
 'Austin',
 'Hart',
 'Thomas',
 'Wright',
 'Leon',
 'Morales',
 'Henry',
 'Shields',
 'Owens',
 'Davis',
 'Diaz',
 'Turner',
 'Anderson',
 'Navarro',
 'Cunningham',
 'Taylor',
 'Lane',
 'Cooper',
 'DVM',
 'DVM',
 'DVM',
 'DVM',
 'DVM',
 'MD',
 'MD',
 'MD',
 'Green',
 'Thomas',
 'Stout',
 'Anderson',
 'Bradford',
 'Taylor',
 'Jones',
 'West',
 'Burch',
 'Webster',
 'Morris',
 'Armstrong',
 'Roberson',
 'Woods',
 'Dorsey',
 'Lyons',
 'Waller',
 'Johnson',
 'Adams',
 'Davis',
 'Martinez',
 'Martinez',
 'Lopez',
 'Young',
 'Mejia',
 'Thomas',
 'Jones',
 'Gonzalez',
 'Rivera',
 'Hunt',
 'Flores',
 'Walker',
 'Mckinney',
 'Franco',
 'Wilson',
 'Miranda',
 'Watson',
 'Sanchez',
 'Kelly',
 'Reed',
 'Edwards',
 'Hill',
 'Levy',
 'Diaz',
 'Bell',
 'Hamilton',
 'Pugh',
 'Henry',
 'Mendoza',
 'Webb',
 'Fuller',
 'Dennis',
 'Williams',
 'Wyatt',
 'Diaz',
 'Nolan',
 'Stone',
 'Peterson',
 'Valentine',
 'Reyes',
 'Fleming',
 'Boyle',
 'Perez',
 'Arnold',
 'Hernandez',
 'Bryant',
 'Cole',
 'Nichols',
 'Harrison',
 'Simpson',
 'Hendricks',
 'Underwood',
 'Harrington',
 'West',
 'Stevens',
 'Medina',
 'Smith',
 'Pitts',
 'David',
 'Brown',
 'Nicholson',
 'Miller',
 'Carlson',
 'Simon',
 'Welch',
 'Wise',
 'Garrett',
 'Sutton',
 'Murphy',
 'Woods',
 'Davis',
 'King',
 'Jefferson',
 'Irwin',
 'Smith',
 'Hebert',
 'Martinez',
 'Graham',
 'Howard',
 'Flores',
 'Chandler',
 'Thornton',
 'Potter',
 'Martinez',
 ...]

In [18]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,country-code
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,669
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0.0,0,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,858
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,652
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,75.0,0,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,364
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,98.0,0,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,713

In [19]:
# 7.What are the top 5 most common last name in the dataset?
a=df["name"].str.split()

In [20]:
inx=a.index

In [21]:
mylist=[]
for i in inx:
    mylist.append(a[i][-1])

In [22]:
df["lname"]=mylist

In [23]:
df.tail()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,country-code,lname
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,0,0,Check-Out,2017-09-06,Claudia Johnson,Claudia.J@yahoo.com,403-092-5582,************8647,403,Johnson
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,0,2,Check-Out,2017-09-07,Wesley Aguilar,WAguilar@xfinity.com,238-763-0612,************4333,238,Aguilar
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,0,4,Check-Out,2017-09-07,Mary Morales,Mary_Morales@hotmail.com,395-518-4100,************1821,395,Morales
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,0,0,Check-Out,2017-09-07,Caroline Conley MD,MD_Caroline@comcast.net,531-528-1017,************7860,531,MD
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,0,2,Check-Out,2017-09-07,Ariana Michael,Ariana_M@xfinity.com,422-804-6403,************4482,422,Michael

In [24]:
df["lname"].value_counts()[:5]

Smith       2503
Johnson     1990
Williams    1618
Jones       1434
Brown       1423
Name: lname, dtype: int64

In [25]:
# 8.What are the names of the people who had booked the most number children and babies for their stay?
df['name'].loc[df['children'].value_counts().max() & df['babies'].value_counts().max()]

'Sandra Brown'

In [39]:
# 9.What are the top 3 most common area code in the phone numbers?
b=df["phone-number"].str.split("-")

In [40]:
inx=b.index

In [41]:
list1=[]
for i in inx:
    list1.append(b[i][-1])

In [42]:
df["area-code"]=list1

In [43]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,total_of_special_requests,reservation_status,reservation_status_date,name,email,phone-number,credit_card,country-code,lname,area-code
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,0,Check-Out,2015-07-01,Ernest Barnes,Ernest.Barnes31@outlook.com,669-792-1661,************4322,669,Barnes,1661
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,0,Check-Out,2015-07-01,Andrea Baker,Andrea_Baker94@aol.com,858-637-6955,************9157,858,Baker,6955
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,0,Check-Out,2015-07-02,Rebecca Parker,Rebecca_Parker@comcast.net,652-885-2745,************3734,652,Parker,2745
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,0,Check-Out,2015-07-02,Laura Murray,Laura_M@gmail.com,364-656-8427,************5677,364,Murray,8427
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,1,Check-Out,2015-07-03,Linda Hines,LHines@verizon.com,713-226-5883,************5498,713,Hines,5883

In [44]:
df['area-code'].value_counts()[:3]

8434    26
7859    26
4365    25
Name: area-code, dtype: int64

In [45]:
# 10.How many arrivals took place between the 1st and the 15th of the month (inclusive of 1 and 15) ?
df['arrival_date_year'].dtype

dtype('int64')